//- include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-4 
        .inner-menu
          ul
            if (!user)
              li
                a(href="/user/register") Đăng kí
              li
                a(href="/user/login") Đăng nhập
            else 
              li
                a(href="/user/logout") Đăng xuất
              li 
                a(href="/chat") Chat
              