//- include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-4 
        .inner-menu
          ul(clas="nav nav-pills justify-content-center")
            if (!user)
              li(class="nav-item")
                a(class="nav-link" href="/user/register") Đăng kí
              li(class="nav-item")
                a(href="/user/login") Đăng nhập
            else
              li(class="nav-item")
                a(class="nav-link" href="/users/not-friend") Trang chủ 
              li(class="nav-item")
                a(class="nav-link" href="/rooms-chat") Nhóm Chat
              li(class="nav-item")
                a(class="nav-link" href="#") #{user.fullName} 
              li(class="nav-item")
                a(class="nav-link" href="/user/logout")
                  button(type="button" class="btn btn-outline-danger") Đăng xuất
              