/* Header */

.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .row {
  justify-content: flex-end;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu>ul>li {
    margin-left: 20px;
}

/* End Header */

/* Footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* End Footer */

/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green;
}

/* End box-head */


/* sub-menu */
.sub-menu {
    position: relative;
    z-index: 999;
}
  
.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}
  
.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
  
.sub-menu:hover > ul {
    display: block;
}
  
.sub-menu ul li {
    position: relative;
}
  
.sub-menu ul li ul {
    right: 100%;
    top: 10px;
}
  
.sub-menu ul li:hover > ul {
    display: block;
}
  /* End sub-menu */

/* Show-alert */

.show-alert {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 999;
    font-size: 25px;
    padding: 5px;
}

.alert-success {
    border-radius: 10px;}

.show-alert.hidden {
    display: none;
}
/* End Show-alert */



/* chat */
.chat {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0px 0px 8px 8px;
  }

.inner-header-chat {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 5px;
  background-color: #5A6268;
  color: #FFFFFF;
  margin-top : 30px;
  font-size: 24px;
  border-radius: 12px 12px 0px 0px;
  border: 1px solid #ddd;
  border-bottom: none;
}

.titleRoom {
  font-weight: 600;
}

.titleImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.titleImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-setting-chat {
  margin-right: 20px;
  flex: 1;
  text-align: end;
}
  
.chat .inner-head {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
  
  .chat .inner-head .inner-avatar {
    background: #FE5DA3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    color: #fff;
  }
  
  .chat .inner-head .inner-name {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
  }
  
  .chat .inner-body {
    padding: 10px;
    max-height: 450px;
    overflow-y: scroll;
  }
  
  .chat .inner-body .inner-name {
    font-weight: 600;
  }
  
  .chat .inner-body .inner-content {
    background: #F1F1F1;
    margin-bottom: 10px;
    max-width: 220px;
    padding: 5px 10px;
    border-radius: 15px;
    line-height: 1.4;
  }
  
  .chat .inner-outgoing .inner-content {
    margin-left: auto;
    background: #FE5DA3;
    color: #fff;
  }
  
  .chat .inner-body .inner-images img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background: #efefef;
    padding: 10px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
  }
  
  .chat .inner-body .inner-outgoing .inner-images {
    margin-left: auto;
    text-align: right;
  }
  
  .chat .inner-body .inner-outgoing .inner-images img {
    margin: 0 0 5px 5px;
  }



  .chat .inner-foot {
    border-top: 1px solid #ddd;
    padding: 10px;
  }
  
  .chat .inner-form {
    display: flex;
    align-items: center;
  }
  
  .chat .inner-form input {
    flex: 1;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
  }
  
  .chat .inner-form button {
    border-radius: 15px;
    border: 1px solid #FE5DA3;
    background: #FE5DA3;
    color: #fff;
    height: 32px;
    padding: 0 10px;
    cursor: pointer;
  }

  .chat .inner-preview-images {
    position: relative;
  }
  
  .chat .inner-preview-images .label-container {
    display: none;
  }
  
  .chat .inner-preview-images .input-container {
    display: none;
  }
  
  .chat .inner-preview-images .image-preview {
    height: auto;
    padding: 0;
    border-radius: 0;
  }
  
  .chat .inner-preview-images .image-preview-item {
    width: 90px;
    background-size: contain;
  }
  /* End chat */

  /* Popup-icon */
  .tooltip {
    visibility: hidden;
  }
  .tooltip.shown {
    visibility: visible;
    opacity: 1;
  }
  /* End Popup-icon */

  /* box-typing */
.box-typing {
  position: relative;
}

.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}

.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
 }
  20% {
    opacity: 1;
 }
  100% {
    opacity: 0.1;
 }
}
/* End box-typing */


/* box-user */
.box-user {
  display: inline-flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-user .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .inner-info {
  flex: 1;
}

.box-user .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.box-user [btn-cancel-friend] {
  display: none;
}

.box-user.add [btn-add-friend] {
  display: none;
}

.box-user.add [btn-cancel-friend] {
  display: inline-block;
}


.box-user [btn-deleted-friend] {
  display: none;
}

.box-user.refuse [btn-accept-friend] {
  display: none;
}

.box-user.refuse [btn-refuse-friend] {
  display: none;
}

.box-user.refuse [btn-deleted-friend] {
  display: inline-block;
}

.box-user [btn-accepted-friend] {
  display: none;
}

.box-user.accepted [btn-accept-friend] {
  display: none;
}

.box-user.accepted [btn-refuse-friend] {
  display: none;
}

.box-user.accepted [btn-accepted-friend] {
  display: inline-block;
}

/* End box-user */

/* Hien thi dang hoat dong va khong hoat dong */
.box-user .inner-status {
  font-size: 12px;
  color: #00d800;
  opacity: 0;
}

.box-user .inner-status[status="online"] {
  opacity: 1;
}


/* box-room */
.box-room {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-room .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.box-room .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-room .inner-info {
  flex: 1;
}

.box-room .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
/* End box-room */

/* Button create RoomChat */
.button-change {
  text-align: end;
}
/* End Button create RoomChat */

/* Change avtar roomChat type : group */
.image-preview {
  width: 100px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  object-fit: contain;
}


/* Change role memeber in roomChat type : group */

.inner-change-role {
  display: flex;
  align-content: center;
  
}

.inner-change-role button {
  border: 0px;
}

.inner-change-role .custom-select {
  margin-right: 12px;
}

/* Add member vao groupChat */
.box-user-add [btn-added-friend] {
  display: none;
}

.box-user-add.added [btn-add-friend] {
  display: none;
}

.box-user-add.added [btn-added-friend] {
  display: inline-block;
}

